<nav class="nav">
  <div class="nav-text">
    <p class="nav-date">{{ today | date: "EEEE, dd MMMM " }}</p>

    <div class="nav-title-container">
      <p class="nav-title">{{ config?.title }}</p>
      <div class="nav-buttons">
        <button class="btn nav-button">a</button>
        <button class="btn nav-button">a</button>
      </div>
    </div>
  </div>
</nav>

<div class="todo-content">
  <div class="container content-container">
    <div class="progress">
      <div class="progress-info">
        <span class="material-icons progress-icon">content_copy</span>
        <p class="progress-tasks">
          <span class="progress-number">{{ tasks.length }}</span
          >{{ pluralOrNot() }}
        </p>
      </div>
      <circle-progress
        [percent]="percentOfDoneTasks()"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [animation]="true"
        [animationDuration]="300"
        [showBackground]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [showTitle]="false"
        [startFromZero]="false"
        [space]="8"
      ></circle-progress>
    </div>

    <div class="todo-table">
      <div class="col">
        <div class="col-header">
          <span class="material-icons"> task </span> Open
        </div>
        <ul class="rows">
          <li
            class="row"
            *ngFor="let task of openTasks()"
            [attr.data-index]="task.id"
          >
            {{ task.id }}. {{ task.name }} -
            {{ task.deadline | date: "dd.MM, EEEE" }}
          </li>
        </ul>
      </div>

      <div class="col">
        <div class="col-header">
          <span class="material-icons"> rotate_left </span> In progress..
        </div>
        <ul class="rows">
          <li
            class="row"
            *ngFor="let task of inProgressTasks()"
            [attr.data-index]="task.id"
          >
            {{ task.id }}. {{ task.name }} -
            {{ task.deadline | date: "dd.MM, EEEE" }}
          </li>
        </ul>
      </div>

      <div class="col">
        <div class="col-header">
          <span class="material-icons"> done </span> Closed.
        </div>
        <ul class="rows">
          <li
            class="row"
            *ngFor="let task of doneTasks()"
            [attr.data-index]="task.id"
          >
            {{ task.id }}. {{ task.name }} -
            {{ task.deadline | date: "dd.MM, EEEE" }}
          </li>
        </ul>
      </div>
    </div>

    <form (submit)="$event.preventDefault(); addTask()">
      <input
        type="text"
        placeholder="Add task and date"
        name="taskDesc"
        [(ngModel)]="taskName"
      />
      <input type="date" name="taskDeadline" [(ngModel)]="taskDeadline" />
      <button type="submit" [disabled]="!taskName || !taskDeadline">+</button>
    </form>

    <button (click)="clearTasks()" [disabled]="!tasks.length">Clear</button>
  </div>
</div>

<footer>
  <div>
    <div>{{ config?.copyright }}</div>
  </div>
</footer>
