.content {
  height: unset !important;
  max-height: unset !important;
}
.col {
  &.s8,
  &.s2 {
    margin-left: unset !important;
  }
}
.add-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
