$darkRadialOutside: #262130;
$darkRadialInside: #2f2d37;
$dark: #201d23;
$light-dark: #383441;
$text-color: #f5f5f5;
$text-gray: #716f77;
$violet: #8a3bec;
$violet-light: #a97be6;
$light-gray: #cdcdcd;

$red-dark: #d82f10;
$red-medium: #ea5030;
$red-light: #f47960;

$green-dark: #178e57;
$green-medium: #1eb972;
$green-light: #35df91;

$yellow-dark: #e59807;
$yellow-medium: #f2ae2c;
$yellow-light: #fac762;

$blue-dark: #0072c5;
$blue-medium: #0090f8;
$blue-light: #33a9fe;

$neumorphism-dark: #161417;
$neumorphism-light: #302c35;

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: $violet-light;
  border-radius: 10px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  background-color: $darkRadialInside;
}
html {
  overflow-x: hidden;
}
.btn {
  background: none;
  border: none;
  color: $text-color;
  cursor: pointer;
  transition: color 0.3s ease;
  font-weight: 600;
  &:hover {
    color: $violet-light;
  }
  &.neumorphic {
    color: $text-gray;
    padding: 10px 15px;
    border-radius: 10px;
    transition: color 0.3s ease;
    &:hover {
      box-shadow: inset 2px 2px 10px $neumorphism-dark,
        inset -4px -4px 10px $neumorphism-light;
    }
  }
}
.input {
  height: 50px;
  border: none;
  background: none;
  border-radius: 10px;
  box-shadow: 2px 2px 10px $neumorphism-dark, -3px -4px 10px $neumorphism-light;
  padding: 0 15px;
  color: $text-color;
  font-size: 1.1em;
  font-weight: 600;
  &[type="text"] {
    font-size: 0.9em;
  }
  &::placeholder {
    color: $text-gray;
    font-size: 1.1em;
  }
  &:focus {
    outline: none;
    box-shadow: inset 2px 2px 10px $neumorphism-dark,
      inset -4px -4px 10px $neumorphism-light;
  }
  &::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav {
  background: $darkRadialInside;
  background: radial-gradient(
    circle,
    $darkRadialInside 0%,
    $darkRadialOutside 64%
  );
  height: 250px;
  display: flex;
  justify-content: center;
  &-text {
    width: 500px;
    color: $text-color;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 40px;
    padding: 0 10px;
  }
  &-date {
    color: $text-gray;
    font-size: 0.8em;
    font-weight: 600;
  }
  &-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-title {
    font-size: 2em;
    font-weight: 600;
  }
  &-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }
  &-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    span {
      font-size: 2.3em;
    }
  }
}

.footer {
  background-color: $dark;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $text-color;
  font-size: 1.5em;
  font-weight: 600;
}
